altgraph==0.17.5
charset-normalizer==3.5.2
comtypes==1.4.17
packaging==26.3
pefile==2024.8.26
pillow==12.3.0
pyinstaller==6.22.3
pyinstaller-hooks-contrib==2026.8
pypdf==6.19.0
pywin32-ctypes==0.2.3
reportlab==4.5.1
setuptools==84.0.0
uiautomation==2.0.29
